.card {
  background-color: #405D72;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: .5rem;
}

.card-content {
  display: flex;
  align-items: center;
}

.card-content input {
  margin-right: 10px; /* Adjust spacing as needed */
 
}
