.create-task-component {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.label-task-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.input-task-wrapper {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

#todo-check {
  max-width: 600px;
  width: calc(100% - 50px);
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}

#todo-check:focus {
  outline: none;
}

#todo-check::placeholder {
  font-size: 0.9rem;
  font-weight: 700;
}

#add-task {
  width: 50px;
  padding: 3px;
  border-radius: 0 5px 5px 0;
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  background-color: #0ca678;
}

#add-task:hover {
  cursor: pointer;
}